spring:
  application:
    name: "akhs-twitch"
  docker:
    compose:
      file: ../env/compose.yaml
  jpa:
    open-in-view: false

akhs:
  application:
    tokens:
      client-id: "your-client-id"
      client-secret: "your-client-secret"
      irc: "your-irc"
    twitch-channel: "your-channel"

server:
  port: 8082