spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: "akhs-discord"
  docker:
    compose:
      file: ../env/compose.yaml
  jpa:
    open-in-view: false

akhs:
  application:
    token: "your-token"
    news-channel: "your-channel-id"
    logs-channel: "your-channel-id"
    color: 0x7567ff #color must in hex-format

server:
  port: 8080