spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: "akhs-discord"
  docker:
    compose:
      file: env/compose.yaml

akhs:
  application:
    token: "your-token"
    news-channel: "your-channel-id"