server:
  port: 8081

spring:
  boot:
    admin:
      client:
        instance:
          name: akhs-telegram
          service-host-type: ip
        url: http://${admin.server.host:localhost}:${admin.server.port:9999}
  application:
    name: akhs-telegram
  config:
    import: configserver:http://${config.server.user:config}:${config.server.password:config-password}@${config.server.host:localhost}:${config.server.port:8888}

