spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: "akhs-telegram"
  docker:
    compose:
      file: ../env/compose.yaml
  jpa:
    open-in-view: false

akhs:
  application:
    token: "your-token"
    news-channel: "your-channel-id"
    username: "your-bot-username"
    logs-channel: "your-channel-id"

server:
  port: 8081